:root{
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-grey: #EEEEEE;
	--basic-dark-grey: #DFDFDF;
	--basic-extra-dark-grey: #D5D5D5;
	--basic-dark: #283136;
	--basic-low-dark: #444444;
	--basic-extra-low-dark: #666666;
	--basic-pink: #FB565A;
	--basic-dark-pink: #E74246;
	--basic-extra-dark-pink: #D7373B;
	--basic-dark-grey: #A6A6A6;
	--basic-green: #00CA74;
	--basic-dark-green: #00BC6C;
	--basic-extra-dark-green: #00AA62;
	--basic-yellow: #EFC84A;
	--basic-dark-yellow: #EAB534;
	--basic-extra-dark-yellow: #EAB534;

}

body {
	min-width: 960px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
  	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header {
	background-color: var(--basic-grey);
}

.main-navigation {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-white);
	justify-content: space-between;
}

.site-navigation {
	display: flex;
	width: 437px;
}

.site-navigation, .basket {
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation li:not(:last-child) {
	margin-right: 45px;
}

.site-navigation a, .basket {
	color: var(--basic-black);
}

.site-navigation a:hover, .basket:hover {
	color: var(--basic-pink);
}

.site-navigation a:focus, .basket:focus {
	color: var(--basic-black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.container {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.title {
	display: none;
}

.features .container {
	display: flex;
}

.features-item {
	display: none;
}

.features-item.active {
	display: block;
}

.features {
	background-color: var(--basic-grey);
	color: var(--basic-dark);
}

.features-item-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	margin: 0;
}

.button {
	text-transform: uppercase;
	color: var(--basic-white);
}

.learn-more {
	background-color: var(--basic-pink);
	line-height: 18px;
	margin: 0;
}

.learn-more:hover {
	background-color: var(--basic-dark-pink);
}

.learn-more:focus {
	background-color: var(--basic-extra-dark-pink);
	opacity: 0.3;
}

.features-button {
	background-color: var(--basic-white);
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
}

.product-item {
	color: var(--basic-dark);
}

.product-item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}

.order-pink {
	background-color: var(--basic-pink);
	line-height: 18px;
}

.order-pink:hover {
	background-color: var(--basic-dark-pink);
}

.order-pink:focus {
	background-color: var(--basic-extra-dark-pink);
	opacity: 0.3;
}

.order-green {
	background-color: var(--basic-green);
	line-height: 18px;
}

.order-green:hover {
	background-color: var(--basic-dark-green);
}

.order-green:focus {
	background-color: var(--basic-extra-dark-green);
	opacity: 0.3;
}

.order-yellow {
	background-color: var(--basic-yellow);
	line-height: 18px;
}

.order-yellow:hover {
	background-color: var(--basic-dark-yellow);
}

.order-yellow:focus {
	background-color: var(--basic-extra-dark-yellow);
	opacity: 0.3;
}

.about {
	display: grid;
	grid-template-columns: 2fr 1fr;
	color: var(--basic-dark);
}

.about-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
}

.about-item {
	padding-right: 149px;
}

.about-item b {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--basic-black);
}

.about-features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.achievments {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

.percents {
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.percents sup {
	font-size: 26px;
	line-height: 40px;
	color: var(--basic-black);
}

.clients-list {
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat(4, 1fr);
}

.contacts {
	color: var(--basic-extra-low-dark);
}

.contacts-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.contacts-phone {
	color: var(--basic-extra-low-dark);
}

.contact-us {
	background-color: var(--basic-pink);
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.networks-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.networks-list li:nth-child(2) {
	margin-right: 10.21px;
}

.networks-list li:nth-child(2) {
	margin-right: 9px;
}

.networks-icon {
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background-color: var(--basic-grey); 
}

.offer b {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.offer p {
	color: var(--basic-low-dark);
	line-height: 22px;
}

.catalog, .catalog a {
	color: var(--basic-black);
	text-transform: uppercase;
}

.catalog-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-transform: none;
	background-color: var(--basic-grey);
	margin: 0 auto;
}

.catalog {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.catalog-sort-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.catalog-sort-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	opacity: 0.3;
}

.catalog-sort-list li:hover {
	opacity: 0.6;
}

.catalog-sort-list li:active {
	opacity: 1;
}

.catalog-list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr
}

.pagination-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.pagination-link {
	background-color: var(--basic-grey);
}

.pagination-link:hover {
	background-color: var(--basic-dark-grey);
}

.pagination-link:active {
	background-color: var(--basic-extra-dark-grey);
}